@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<p>
    User Modelling Inc. is a company which prominently works on the development of the adaptive systems and personalizing
    user's experience according to the desired system. This organisation is to effectively understand the user behaviour
    towards different kinds of computer-based educational system and then utilize this information to develop them.
</p>
<p>
    The company started it first conference in 1990 and thereafter successfully organised atleast one conference every year
    in different parts of the world. The conference focuse on research topics in the area of user adaptive systems.
</p>
