@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<p>
    Subscribe to our mailing lists
</p>

<address>
    <strong>UM - User Modeling:</strong>   subscribe via https://www.di.unito.it/listserver/subrequest/um<br />
    <strong>AH - Adaptive Hypermedia:</strong>  subscribe via http://pegasus.tue.nl/mailman/listinfo/ah
</address>