@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="background-image:linear-gradient(to right, red , blue);background-size:400%;background-repeat:no-repeat">
    <h1 style="color:white;text-align:center;font-family:'Times New Roman', Times, serif">User Modelling Inc.</h1>
    <p class="lead"></p>
    <p style="text-align:center;"><a href="https://um.org" class="btn btn-lg" style="background-color:darkblue;color:white" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Who are we?</h2>
        <p>
            User Modelling Inc. is a company which prominently works on the development of the adaptive systems and personalizing
            user's experience according to the desired system. This organisation is to effectively understand the user behaviour
            towards different kinds of computer-based educational system and then utilize this information to develop them.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our History</h2>
        <p>
            The company started it first conference in 1990 and thereafter successfully organised atleast one conference every year
            in different parts of the world. The conference focuse on research topics in the area of user adaptive systems.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Upcoming Conference</h2>
        <p>
            UMAP 2020 has been announced! The conference will be held from July 12-18, 2020. It will be aired live from Genoa.
            Sign up for our membership and then you can register for the conference for free
        </p>
    </div>
</div>
<hr />
<div style="text-align:center">
    <h3>
        Assignment 2 - Practical Assessment<br/>
        NIT5150 Advanced Object Oriented Programming<br />
        Victoria University, Sydney
    </h3>
</div>
<div class="row">
    <div class="col-md-6" style="text-align:center">
        <h2>Submitted To</h2>
        <b>
            Professor Ali Braytee
        </b>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2>Submitted By</h2>
        <b>
            Ishita Vig (Student Id: s4641315)
        </b><br/>
        <b>
            Atul Mishra (Student Id: s4643639)
        </b>
    </div>
</div>